# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.png
*.gif
*.cur
*.jpg
js/checkoutValidate.js
*.js
js/quick_view_tabs.css
*.css
zoomify/zoomifyViewer.swf
zoomify/zoomify_image.html
zoomify/zoomify_flash.html
3dzoom/parameters.html
3dfeedback/feedback_thankyou.html
*.eot
font/flexslider-icon.svg
*.woff
*.svg
gallery/gallery.swf
*.xml
gallery/player.html
*.ttf
3dfeedback/feedback.html
3dfeedback/feedback_contact.html
